.cursor-pointer {
    cursor: pointer;
}

.active {
    border-bottom: 2px solid grey !important;
}

.copy:hover {
    background-color: #183b56;
    color: white;
}

.footer-bg {
    background-color: #183b56;
    color: white;
}
