body {
    font-family: 'Nunito Sans', sans-serif;
}

.btn {
    border-radius: 0 !important;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
}

.user-info-card {
    margin-top: 120px;
}

.float-right {
    float: right !important;
}

.cursor-pointer {
    cursor: pointer;
}

.value-td {
    width: 80% !important;
}

.value-td:hover {
    background-color: aliceblue;
}

.gender-filter {
    width: 20%;
    margin-bottom: 24px;
}

/**
generic
 */

.mr-20 {
    margin-right: 20px !important;
}

